/* CSS for hero section */
.hero {
  position: relative;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero .hero-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  justify-self: end;
  margin-right: -64px;
}

.hero-header {
  display: flex;
  justify-content: flex-end;
}

.hero-header h1{
  background-color: #000000;
  color: #ffffff;
  font-size: 51px;
  text-align: left;
  line-height: 51px;
  padding: 16px 48px 16px 16px;
  width: 575px;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.hero-text {
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  padding: 8px 48px 8px 16px;
  color: #ffffff;
  font-size: 30px;
  text-align: left;
  max-width: 575px;
  font-weight: 600;
  line-height: 36px;
}

.hero .hero-column .cta-button {
  background-color: #E91624;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 16px 32px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}

.hero .hero-column .cta-button:hover {
  background-color: #b22933;
  color: #ffffff;
}

.hero-additional-info {
  display: grid;
  grid-column: 1 / span 2;
  font-family: 'Raleway', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  background-color: #E91624;
  color: #ffffff;
  padding: 32px;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero .hero-column {
    justify-self: center;
    margin:0;
    width: 100%;
  }

  .hero-text {
    width: 372px;
    font-size: 1.125em;
    line-height: 1em;
    display: grid;
    justify-self: center;
  }

  .hero-header {
    justify-content: center;
  }

  .hero-header h1{
    width: 372px;
    font-size: 2em;
    line-height: 1em;
    padding: 8px;
  }

  .hero .hero-column .cta-button {
    display: grid;
    justify-self: center;
  }

  .hero-additional-info {
    font-size: 1.5em;
    
  }
}
