.price-list {
  height: 100%;
  display: flex;
  justify-content: center;
}

.price-list-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.price-list-content h1 {
  padding-top: 1rem;
  font-size: 3em;
}

.price-list-content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 1024px;
}

.price-list-content-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  height: 432px;
  border: 1px solid #ffffff;
  background-color: #000000a4;
}

.price-list-content-element img {
  margin-top: 2rem;
  width: 65px;
  height: 65px;
}

.price-list-content-element h2 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.25em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.price-list-content-element h2 span{
  font-size: 0.75em;
}

.price-list-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1.563rem;
}

.price-list-list p {
  font-size: 1.125em;
  padding: 0.25rem;
}

@media (max-width: 1024px) {
  .price-list-content-list {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .price-list-content-list {
    width: 100%;
  }
  .price-list-content {
    background-image: url('/public/airis-nikolaeva--Vykfrw_D-A-unsplash_edited.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
  }
}
