/* CSS for sections */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: LuloClean;
  src: url('/public/fonts/Lulo\ Clean\ W01\ One\ Bold.ttf') format("opentype");
}

body {
  background-image: url('/public/bee-felten-leidel-QQQyxEV9DBY-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  font-family: 'Raleway', sans-serif;
}

/* CSS for footer */
footer {
  
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

.cta-button {
  background-color: #E91624;
  color: #000000;
  font-weight: 700;
  padding: 16px 32px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}

.cta-button:hover {
  background-color: #b22933;
  color: #ffffff;
}
