/* CSS for sections */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @font-face {
  font-family: 'LuloClean';
  src: url('/assets/fonts/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2') format('wolf2');
} */

@font-face {
  font-family: LuloClean;
  src: url('/public/fonts/Lulo\ Clean\ W01\ One\ Bold.ttf') format("opentype");
}

body {
  background-image: url('/public/bee-felten-leidel-QQQyxEV9DBY-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  font-family: 'LuloClean', sans-serif;
}

/* CSS for footer */
footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}
