.top-bar {
  position: sticky;
  top: 0;
  background-color: transparent;
  padding: 10px;
  z-index: 10;
}

.top-bar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  height: 80px;
  background-color: transparent;
  margin-left: 32px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.top-bar nav ul li {
  text-align: center;
  height: 18px;
}

.top-bar nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.top-bar nav ul li a:hover {
  color: #d0d0d0;
}
